#--------------------------------------------------------------------
# PRESENSI DIGITAL
# BY AERPROJECT
# Environment Configuration Template
#--------------------------------------------------------------------

CI_ENVIRONMENT = production


#--------------------------------------------------------------------
# APPLICATION
#--------------------------------------------------------------------

app.baseURL = 'https://your-domain.example/'
app.indexPage = ''
app.forceGlobalSecureRequests = false


#--------------------------------------------------------------------
# DATABASE
#--------------------------------------------------------------------

database.default.hostname = localhost
database.default.database = YOUR_DATABASE_NAME
database.default.username = YOUR_DATABASE_USER
database.default.password = YOUR_DATABASE_PASSWORD
database.default.DBDriver = MySQLi
database.default.DBPrefix =
database.default.port = 3306


#--------------------------------------------------------------------
# SECURITY
#--------------------------------------------------------------------

encryption.key = YOUR_ENCRYPTION_KEY


#--------------------------------------------------------------------
# LICENSE
#--------------------------------------------------------------------

license.serverUrl = YOUR_LICENSE_SERVER_URL


#--------------------------------------------------------------------
# EMAIL
#--------------------------------------------------------------------

email.fromEmail = YOUR_EMAIL_ADDRESS
email.fromName = PRESENSI AER


#--------------------------------------------------------------------
# SESSION
#--------------------------------------------------------------------

session.driver = CodeIgniter\Session\Handlers\FileHandler
session.savePath = writable/session


#--------------------------------------------------------------------
# CACHE
#--------------------------------------------------------------------

cache.handler = file
cache.backupHandler = dummy
cache.prefix =
