<IfModule mod_rewrite.c>
    RewriteEngine On

    # Jika file atau folder tidak ada, teruskan ke index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>

<IfModule !mod_rewrite.c>
    # Jika mod_rewrite tidak aktif, semua request diarahkan ke index.php
    <IfModule mod_alias.c>
        RedirectMatch 302 ^/$ /index.php/
    </IfModule>
</IfModule>
